 
.expanded {
    border: 2px solid var(--c-fg);
    max-height: 95vmin;
    width: max(100%,90vw);
    position: relative;
    background: var(--c-bg);
    overflow: hidden;
    color: var(--c-bg);
    margin: 0 auto;

}

.close {
    all: initial;
    color: currentColor;
    cursor: pointer;
    display: block;
    background: var(--c-fg);
    position: absolute;
    left: 0;
    top: 0;
    font-size: var(--f2);
    font-family: "Neue Montreal", sans-serif;
    text-decoration: underline;
    @media screen and (min-width: 1080px) {
        font-size: var(--f4);
    
      }
}

.imgbtn {
    all: initial;
    display: block;
    overflow: hidden;

    cursor: zoom-in;
    width: 100%;
    border: 1px solid transparent;
    &:hover {
        border-color: var(--c-fg)
    }
    &:focus {
        outline: 1.5px solid black;
    }
}