.expanded {
    border: 2px solid var(--c-fg);
    max-height: 95vmin;
    max-width: 90vw;
    width: 100%;
    position: relative;
    background: var(--c-bg);
    overflow: hidden;
    color: var(--c-bg);

}

.close {
    all: initial;
    color: currentColor;
    cursor: pointer;
    display: block;
    background: var(--c-fg);
    position: absolute;
    right: 0;
    top: 0;
    font-size: var(--f4);
    font-family: "Neue Montreal", sans-serif;
    text-decoration: underline;
}

.imgbtn {
    all: initial;
    display: block;
    overflow: hidden;

    cursor: pointer;
    width: 100%;
    border: 1px solid transparent;
    &:hover {
        border-color: var(--c-fg)
    }
    &:focus {
        outline: 1.5px solid black;
    }
}