.blogroll {
    z-index: 10;
    position: relative;
    pointer-events: none;

    :nth-child(1){
        grid-column: 7 / span 5 ;
        grid-row: 1 / 4;        
    }
    :nth-child(2) {
        grid-column: 2 / span 5 ;
        grid-row: 2 / 5;        
    }


    :nth-child(3) {
        grid-column: 2 / span 3 ;
        grid-row: 5 / 8;        
    }
    :nth-child(4) {
        grid-column: 5 / span 4 ;
        grid-row: 5 / 8;        
    }
    :nth-child(5) {
        grid-column: 9 / span 3 ;
        grid-row: 5 / 8;        
    }
    
}

.article {
    pointer-events: all;
}

.image {
    
}