.blogroll {
    z-index: 10;
    position: relative;
    pointer-events: none;

    
}

.posts {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(2,minmax(0, 1fr));
    gap: var(--f3);
    > :nth-child(odd) {
        margin-top: 10rem;
      }
}

.article {
    pointer-events: all;
    p {
        background-color: var(--c-bg);

    }

  
}

.img__placeholder {
    background: var(--c-bg);
}

.img__hover{
    &:hover {
        
    }
}