@use '../../style/variables' as v;

.blogroll {
    z-index: 10;
    position: relative;
    pointer-events: none;

    
}

.posts {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(1,minmax(0, 1fr));
    gap: var(--f3);
    align-items: end;

    @media screen and (min-width: v.$width-mobile) {
        grid-column: 2 / -2;
        grid-template-columns: repeat(2,minmax(0, 1fr));

    }
    
}





.article {
    pointer-events: all;
    .text {
        background-color: var(--c-bg);
        padding-top: calc(var(--f1)/2);
        padding-bottom: var(--f1);
    }
}

.img__placeholder {
    background: var(--c-bg);
    padding-bottom: 50%;
}

.img{
    border: 1px solid var(--c-bg);
    transition: border-radius 50ms ease;
    border-radius: var(--f2);

    overflow: hidden;
    &:hover {
        border-color:  var(--c-fg);
        border-radius: 0;

    }
    
}
a {
    &:hover {
        border-color:  var(--c-fg);

        .hover{
            background-color: var(--c-hover-l);

        }
    }
    &:active {

        .hover{
            background-color: var(--c-fg);
            
        }
    }
}