.flex {
    display: flex;
}
.flex__column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.basis__0 {
    flex-basis: 0;
}
.grow__1 {
    flex-grow: 1;
}

.justify__center {
    justify-content: center;
}

.justify__end {
    justify-content: flex-end;
}
.justify__between {
    justify-content: space-between;
}
.align__center {
    align-items: center;
}

.align__end {
    align-items: end;
}



@for $i from 1 through 3 { 
    .flexgap#{$i} > * {
        margin-right: var(--f#{$i});
        &:only-child, &:last-child  {
            margin-right: 0; 
        }
    }
}
