
.grid {
    display: grid;
    //width: 100%;
    grid-template-columns: var(--grid);
    max-width: var(--width-max);
    column-gap: var(--f3);
    
}

.grid-row {
    display: grid;
    //width: 100%;
    grid-auto-rows: minmax(0,1fr);
    grid-auto-flow: row;
}

@for $i from 1 through 11 { 
    .row#{$i} {
        grid-row: #{$i};
    }
}


@for $i from 1 through 11 { 
    .col#{$i} {
        grid-column: #{$i};
    }
}

@for $i from 1 through 11 { 
    .col#{$i}__r {
        grid-column: -#{$i +1};
    }
}



@for $i from 1 through 11 { 
    .span#{$i} {
        grid-column-end: span #{$i};
    }
}

@for $i from 1 through 11 { 
    .end#{$i}__r {
        grid-column-end: -#{$i};
    }
}


