@use '../variables' as v;
.grid {
    display: grid;
    width: 100%;
    grid-template-columns: var(--grid);
    max-width: var(--width-max);
    column-gap: var(--f1);
    @media screen and (min-width: v.$width-mobile) {
        column-gap: var(--f3);

    }
}

.grid-row {
    display: grid;
    //width: 100%;
    grid-auto-rows: minmax(0,1fr);
    grid-auto-flow: row;
}

@for $i from 1 through 11 { 
    .row#{$i} {
        grid-row: #{$i};
    }
}


@for $i from 1 through 11 { 
    .col#{$i} {
        grid-column-start: #{$i};
    }
}

@for $i from 1 through 4 { 
    .col#{$i}__r {
        grid-column-start: -#{$i +1};
    }
}

@for $i from 1 through 11 { 
    .span#{$i} {
        grid-column-end: span #{$i};
    }
}



@for $i from 1 through 11 { 
    .end#{$i}__r {
        grid-column-end: -1;
    }
}

.col2 {
    grid-column-start: 1;
}

// desktop overrides
@media screen and (min-width: v.$width-mobile) {
    .col2 {
        grid-column-start: 2;
    }
}

@media screen and (min-width: v.$width-mobile) {
    @for $i from 1 through 11 { 
        .col#{$i}__d {
            grid-column-start: #{$i};
        }
    }
    .col0__dForce {
        grid-column-start: 1;
    }
}
// reverse only for desktop 
@media screen and (min-width: v.$width-mobile) {
    @for $i from 5 through 11 { 
        .col#{$i}__r {
            grid-column-start: -#{$i +1};
        }
    }
}

@media screen and (min-width: v.$width-mobile) {
    @for $i from 5 through 11 { 
        .end#{$i}__r {
            grid-column-end: -#{$i +1};
        }
    }
}
@media screen and (min-width: v.$width-mobile) {
    @for $i from 1 through 11 { 
        .end#{$i}__rd {
            grid-column-end: -#{$i +1};
        }
    }
}



.split {
    display: grid;
    grid-template-columns: repeat(2,minmax(0, 1fr));
    gap: var(--f1);

    @media screen and (min-width: v.$width-mobile) {
        grid-template-columns: repeat(2,minmax(0, 1fr));
        gap: var(--f3);

    }
}