@use '../variables' as v;


@for $i from 1 through 6 { 
    .v-margin#{$i} {
        margin-bottom: var(--f#{$i});
    }
}

@for $i from 1 through 6 { 
    .v-padding#{$i} {
        padding-bottom: var(--f#{$i});
    }
}


section {
    padding: 0 var(--f3) ;
    @media screen and (min-width:calc(v.$width-mobile)) {
        padding: 0 var(--f6) ;
    }
}


.spacer__top {
    margin-top: calc(var(--f6)*2);
    @media screen and (min-width:calc(v.$width-mobile)) {
        margin-top: calc(var(--f6)*3);
    }
}
.spacer__s {
    margin-top: calc(var(--f4));
    margin-bottom: calc(var(--f4));

    @media screen and (min-width:calc(v.$width-mobile)) {
        margin-top: calc(var(--f6));

        margin-bottom: calc(var(--f6));
    }
}

.negative3 {
    margin-top: -var(--f3);
}