.nav {
    position:fixed;
    z-index: 10;
    width: 100%;
    padding: var(--f6) var(--f6);
    max-width: var(--width-max);
    bottom: 0;
    pointer-events: none;
}
.nav__wrapper {
    display: grid;
    justify-content: center;

}

.cycle {
    grid-column: 1;
}
