body {
    background-color: var(--c-bg);
    color: var(--c-fg);
    scrollbar-gutter: stable;

}
html {
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;


}


.width100 {
    width: 100%;
}