
a, .pseudolink {
    text-decoration: underline;
    color: currentColor;
    background-color: var(--c-bg);
    &:visited {
        color: currentColor;
    }
    &:hover {
        background-color:var(--c-hover-l) ;
    
    }
    &:active {
        color: var(--c-bg);
        background-color:var(--c-fg) ;
    }

}

.pseudolink {
    cursor: pointer;
}
  
// for use in reverse color context (eg footer)
.reverse {
    a, .pseudolink {
        background-color: var(--c-fg);
        & :hover {
            background-color:var(--c-hover-d) ;
        }
        & :active {
            color: var(--c-fg);
            background-color:var(--c-bg) ;
        }
    }
}
