@use '../variables' as v;

@font-face {
    font-family: "Neue Montreal";
    src: url("../fonts/PPNeueMontreal-Medium.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
  }


body {
    font-family: "Neue Montreal", sans-serif;
    color: var(--c-fg);
    font-size: var(--f2);
}


h1,h2,h3,h4,h5,h6, p {
  font-weight: normal;
  margin: 0;
}


.text {
  font-size: var(--f2);

  > * {
    margin-bottom: var(--2);
  }

  @media screen and (min-width: v.$width-mobile) {
    font-size: var(--f3);
  }
  
}
