@font-face {
    font-family: "Neue Montreal";
    src: url("../fonts/PPNeueMontreal-Medium.woff2") format("woff2");
    font-weight: normal;
  }


body {
    font-family: "Neue Montreal", sans-serif;
}