.layout__wrapper {
    display: grid;
    justify-content: center;

}
.layout__inner {
    max-width: var(--width-max);
    padding: 0 var(--f6) ;
    width: 100vw;

    margin-top: calc(var(--f4)*2);
}