.layout__wrapper {
    display: grid;
    justify-content: center;
    max-width:100%;

}
.layout__inner {
    max-width: var(--width-max);
    width: var(--viewportWidth);
    margin-top: calc(var(--f4)*2);
}