:root {

}

.css-83wr9v > span > div{
    display: flex;
    gap: 1rem;
}

.css-1iqjs8m-ControlContainer-Shortcode .css-1rsca1y-ControlContainer  {
    margin-top: 16px;
}


.css-1iqjs8m-ControlContainer-Shortcode .css-1rsca1y-ControlContainer > .css-pcief1-FieldLabel-fieldLabel {
    display: none;
}

