.wrapper {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    z-index: 500;
}
.background {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--c-hover-l);
    opacity: 0.5;
    cursor: pointer;
    z-index: 500;

}


