@use '../../style/variables' as v;


.nav {
    width: 100vw;
    padding: var(--f4) var(--f3);
    max-width: var(--width-max);
    column-gap: var(--f1);
    width: var(--viewportWidth);
    @media screen and (min-width: v.$width-desktop) {
        padding: var(--f4) var(--f6);
        column-gap: var(--f3);
    }
    
}



.at__link {
    left: 50%;
  position: absolute;
  transform: translateY(-100%);
  &:focus {
    transform: translateY(0%);
  }
}
.logo {

    
    svg {
        height: var(--f4);
    }
}



.logoIcon__d {
  position: relative;
}

.logoIcon__dInner {
  position: absolute;
  width: -moz-available;
  width: -webkit-fill-available;
  height: calc(100vh - var(--f4) - 1em);
  height: calc(100dvh - var(--f4) - 1em);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: var(--f4);
  @media screen and (min-width: v.$width-mobile) {
    padding-bottom: var(--f6);

  }
}
.nav__wrapper {
    display: grid;
    justify-content: center;
    position:fixed;
    width: var(--viewportWidth);

}

@media screen and (max-width: v.$width-mobile) {
  .m__row {
    //grid-template-columns: 1fr;
    gap: var(--f1);

    .logoIcon {
      width: 4rem;
      justify-self: end;
      right: 0;
  }
  }
  .m__start {
    grid-column-start: 1;
}
.m__col2 {
  grid-column: 2;
}
}