//workaround for @media and variables
$width-desktop: 1200px;
$width-desktop-l: 1440px;
$width-mobile: 1080px;
$width-max: 1920px;
:root {
    --base: 0.694rem;
    --f1: 0.833rem;
    --f2: 1rem;
    --f3: 1.2rem;
    --f4: 1.44rem;
    --f5: 1.728rem;
    --f6: 2.074rem;
    --f7: 2.488rem;
    --f8: 2.986rem;
    --f9: 3.583rem;
    --f1-half: calc(var(--f1) / 2);
    --f2-half: calc(var(--f2) / 2);
    --f3-half: calc(var(--f3) / 2);
    --f4-half: calc(var(--f4) / 2);
    --f5-half: calc(var(--f5) / 2);
    --f6-half: calc(var(--f6) / 2);
    --f7-half: calc(var(--f7) / 2);
    --width-max: 1920px;

    --width-desktop: $width-desktop;
    --width-desktop-l: $width-desktop-l;

    --width-mobile: $width-mobile;


    //btn colors light
    --c-purple: #D7BEFF;
    --c-pink: #F8ACF0;
    --c-green: #88DC8B;

    --grid: repeat(4,minmax(0, 1fr));

    //scrollbar fix
    --viewportWidth: calc(100vw - var(--scrollbarWidth));
}


@media screen and (min-width: $width-mobile) {
    :root {
        --grid: repeat(10,minmax(0, 1fr));
    }
}

@media screen and (min-width: $width-desktop-l) {
    :root {
        --grid: repeat(12,minmax(0, 1fr));
    }
}
:root {
              //colors
        // colors
        // light mode
    
      //  --c-bg: #ECEAEF;
        --theme-blue: #0500E1;
        --theme-purple:#F0EBF6;
        --c-bg: var(--theme-purple);
    
        --c-fg: var(--theme--blue);
        --c-hover-l: #DBDDE3;
        --c-hover-d: #3A3D4A;
    
        }
// @media (prefers-color-scheme: light) {
//     :root {
//           //colors
//     // colors
//     // light mode

//     --c-bg: #ECEAEF;
//     --c-bg: #F0EBF6;

//     --c-fg: #0500E1;
//     --c-hover-l: #DBDDE3;
//     --c-hover-d: #3A3D4A;

//     }
//   }
//   @media (prefers-color-scheme: dark) {
//     :root {
//         --c-bg: #25237c;
//         --c-fg: #cec4db;
//         --c-hover-d: #DBDDE3;
//         --c-hover-l: #3A3D4A;
//     }
//   }
  