:root {
    --f1: 12px;
    --f2: 14px;
    --f3: 18px;
    --f4: 24px;
    --f5: 36px;
    --f6: 42px;

    --width-max: 1800px;
    --width-desktop: 1200px;





    //btn colors light
    --c-purple: #D7BEFF;
    --c-pink: #F8ACF0;
    --c-green: #88DC8B;

    --grid: repeat(12,minmax(0, 1fr));

    


    //scrollbar fix
    --viewportWidth: calc(100vw - var(--scrollbarWidth));

}

@media screen and (max-width: 1300px){
    :root {
        --grid: repeat(10,minmax(0, 1fr));

    }
}

[data-theme="dark"] {
    --c-bg: #0400B4;
    --c-fg: #d0c7dd;
}


@media (prefers-color-scheme: light) {
    :root {
          //colors
    // colors
    // light mode

    --c-bg: #ECEAEF;
    --c-fg: #0400B4;
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
        --c-bg: #25237c;
        --c-fg: #cec4db;
    }
  }
  