//workaround for @media and variables
$width-desktop: 1200px;
$width-desktop-l: 1300px;
$width-mobile: 1080px;
:root {
    --f1: 12px;
    --f2: 14px;
    --f3: 18px;
    --f4: 24px;
    --f5: 36px;
    --f6: 42px;

    --width-max: 1800px;

    --width-desktop: $width-desktop;
    --width-desktop-l: $width-desktop-l;

    --width-mobile: $width-mobile;


    //btn colors light
    --c-purple: #D7BEFF;
    --c-pink: #F8ACF0;
    --c-green: #88DC8B;

    --grid: repeat(4,minmax(0, 1fr));

    //scrollbar fix
    --viewportWidth: calc(100vw - var(--scrollbarWidth));
}


@media screen and (min-width: $width-mobile) {
    :root {
        --grid: repeat(10,minmax(0, 1fr));
    }
}

@media screen and (min-width: $width-desktop-l) {
    :root {
        --grid: repeat(12,minmax(0, 1fr));
    }
}

@media (prefers-color-scheme: light) {
    :root {
          //colors
    // colors
    // light mode

    --c-bg: #ECEAEF;
    --c-fg: #0400B4;
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
        --c-bg: #25237c;
        --c-fg: #cec4db;
    }
  }
  