.footer__wrapper {
    position: relative;
    padding-top: var(--f3);
}


.logo {
    //margin-top: var(--f6);
    
    svg {
        width: 100%;

    }
}

.m__btn {
    margin: 0 auto;
}
.fit {
    height: fit-content;
}