
.mainheading {
    height: fit-content;
    // fix later
    h1 {
        font-size: 13vmin;
        z-index: 1;
       
    }
    
}

.mainheading__wrapper {
    display: grid;
    min-height: 100vh;
    place-items: center;
    position: fixed;
    max-width: var(--width-max);
}

.mainheading__dummy {
    min-height: 90vh;
}

.svg {
    place-self: center;
    stroke-width: 2.5px;
    stroke: currentColor;
    z-index: 1;
    pointer-events: none; /* SVG-only */
}

.globe {
    padding: 0 2rem;
}

.button {
    
    display: grid;
    place-items: center;
    padding: 0 1rem;
}
.w20{
    max-width: 20em;
}

.w15{
    max-width: 15em;
}
.btn1 {
    transform: rotate(20deg);
}
.btn2 {
    transform: rotate(45deg);

    right: 20%;
    top: 50%;

}

.links {
    align-self: center;
}

.paddingtop {
    padding-top: var(--f2);
}


.margin1rem {
    margin-top: 3vmin;
}

.maxcontent {
    max-width: max-content; 
}

.starcircle {
    max-width: 12vmin;
}

.flower {
    max-width: 5vmin;
}

.animate {
    animation: 0.1s ease-out 1s 1 loadIn;

}



.tagline {
    max-width: 17rem;
    align-self: baseline;
    margin-top: 1rem;
    
}