.mainheading {
    height: fit-content;
    // fix later
    h1 {
        font-size: 7rem;
        z-index: 1;

    }
    h4 {
        font-size: var(--f3);
    }
}
.mainheading__wrapper {
    display: grid;
    min-height: 100vh;
    place-items: center;
    position: fixed;
    z-index: 10;
}

.mainheading__dummy {
    min-height: 90vh;

}

.svg {
    place-self: center;
    stroke-width: 2px;
    stroke: currentColor;
    z-index: 1;
    pointer-events: none; /* SVG-only */
}

.globe {
    padding: 0 2rem;
}

.button {
    
    display: grid;
    place-items: center;
    padding: 0 1rem;
}

.btn1 {
    transform: rotate(20deg);
}
.btn2 {
    transform: rotate(45deg);

}

.links {
    align-self: center;
}

.paddingtop {
    padding-top: var(--f2);
}


.margin1rem {
    margin-top: 1rem;
}