.mainheading {
    height: fit-content;
    // fix later
    h1 {
        font-size: 7rem;
        z-index: 1;

    }
    h4 {
        font-size: var(--f3);
    }
}
.mainheading__wrapper {
    display: grid;
    min-height: 90vh;
    place-items: center;

}
.svg {
    place-self: center;
    stroke-width: 2px;
    stroke: var(--c-fg);
    z-index: 1;
    pointer-events: visibleStroke; /* SVG-only */
}

.globe {
    padding: 0 2rem;
}

.button {
    z-index: 0;
    display: grid;
    place-items: center;
    padding: 0 1rem;
}

.btn1 {
    transform: rotate(20deg);
}
.btn2 {
    transform: rotate(45deg);

}